In [1]:
import os
import json
    
from sqlalchemy import Column, DateTime, String, Integer, ForeignKey, func, create_engine
from sqlalchemy.orm import relationship, backref, sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.dialects.postgresql.json import JSONB

import uuid


import transaction

import pandas as pd
import numpy as np
import requests

In [2]:
def get_user(i):
    user_data = requests.get(f'https://randomuser.me/api/?results={(int(i))}').json()['results']
    
    return user_data

def dict2json(dictionary):
    return json.dumps(dictionary, ensure_ascii=False)

In [3]:
%%time
data = get_user(100)

Wall time: 285 ms

In [4]:
Base = declarative_base()

class Users(Base):
    
    id = Column(String, primary_key=True)
    data = Column(JSONB)

In [5]:
engine = create_engine("postgresql://postgres:abc@localhost:5432/rommel")
Session = sessionmaker(bind=engine)
Base.metadata.drop_all(bind=engine)
Base.metadata.create_all(bind=engine)

In [10]:
%%time

N = 1000

session = Session()

df = pd.DataFrame(
    np.transpose(
        [
            [str(uuid.uuid4()) for _ in range(N)], 
             get_user(N)
        ]
    ), 
    columns=["id", "data"]
)
df['data'] = df.data.map(dict2json)

df.to_sql('users', 
          con=session.connection(), 
          if_exists="append", 
         index=None
         )
session.commit()
session.close()

Wall time: 1.39 s

In [11]:
pd.read_sql_table("users", engine, index_col="id")

                                                                                   data
id
b341c281-2422-4ade-962d-f57ace8d00a9  {'id': {'name': 'TFN', 'value': '644627121'}, ...
dc54ce62-37c7-45d2-83ac-fa3d936f4cde  {'id': {'name': '', 'value': None}, 'dob': {'a...
9a749ad7-65d2-4431-bd03-7f9529779aed  {'id': {'name': 'SSN', 'value': '059-52-7093'}...
19e85a2b-e2b5-4923-9ab4-d14288a1fcd3  {'id': {'name': '', 'value': None}, 'dob': {'a...
41af3114-40d1-4b43-8854-2675095ac5a8  {'id': {'name': 'INSEE', 'value': '1NNaN432657...
...                                                                                 ...
c5a22f6a-0dcc-4c9d-b712-ed51f7b86992  {'id': {'name': '', 'value': None}, 'dob': {'a...
f6199d4c-5d65-40ae-b021-bcd2b55bb422  {'id': {'name': '', 'value': None}, 'dob': {'a...
c0731712-343a-493a-82e6-fd64f4427483  {'id': {'name': 'NINO', 'value': 'SJ 91 94 94 ...
7eb93a44-3943-45c8-bf98-89b2875074b3  {'id': {'name': 'INSEE', 'value': '1NNaN656850...
023a5e35-913d-440d-9690-b0f37800742f  {'id': {'name': 'HETU', 'value': 'NaNNA092unde...

[1200 rows x 1 columns]