In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
engine = create_engine('sqlite://', echo=False)

In [6]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df

     name
0  User 1
1  User 2
2  User 3

In [7]:
df.to_sql('users', con=engine)
engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]