In [8]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker, relationship, backref

import pandas as pd

In [2]:
engine = create_engine("postgresql+psycopg2://postgres:abc@localhost:5432/pyramid-app-openclsim")

metadata = MetaData()
metadata.reflect(engine, only=[
    'activities', 
    'destinations', 
    'equipment', 
    'equipment_log',
    'jobs',
    'messages',
    'origins',
    'projects',
    'scenarios',
    
])

Base = automap_base(metadata=metadata)
Base.prepare()

In [3]:
Activities = Base.classes.activities
Destination = Base.classes.destinations
Equipment = Base.classes.equipment
EquipmentLog = Base.classes.equipment_log
Job = Base.classes.jobs
Message = Base.classes.messages
Origin = Base.classes.origins
Project = Base.classes.projects
Scenario = Base.classes.scenarios

In [4]:
Session = sessionmaker(bind=engine)
session = Session()

In [7]:
session.query(Activities).all()

[<sqlalchemy.ext.automap.activities at 0x1f6dc2b2240>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b22b0>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b2320>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b2390>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b2400>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b2470>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b24e0>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b2550>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b25c0>,
 <sqlalchemy.ext.automap.activities at 0x1f6dc2b2630>]

   status  job_id                    created
id
1    done       1 2020-01-15 13:20:24.333605
2    done       2 2020-01-15 13:48:38.392132
3    done       3 2020-01-15 14:12:07.763522
4    done       4 2020-01-15 14:27:45.925341